<div>
    <h2>Signup</h2>
    <form action="/auth/signup" method="POST">
      <label>
        Username
        <input type="text" name="username" placeholder="ironhacker" required />
      </label>
  
      <label>
        Password
        <input type="password" name="password" placeholder="********" required/>
      </label>
  
      <label>
        Email
        <input type="email" name="email" placeholder="user@ironhack.com" required/>
      </label>
  
      <button type="submit">Create account</button>
  
    </form>
  </div>