<div class="hero">
  <div class="content">
    <div class="form-container">
      <h2 class="center">Signup</h2>

      <form class="form" action="/auth/signup" method="POST">
        <label>
          Username
          <input
            type="text"
            name="username"
            placeholder="ironhacker"
            required
          />
        </label>

        <label>
          Password
          <input
            type="password"
            name="password"
            placeholder="********"
            required
          />
        </label>

        <label>
          Email
          <input
            type="email"
            name="email"
            placeholder="user@ironhack.com"
            required
          />
        </label>

        <button class="btn-form center" type="submit">Accept</button>
      </form>
    </div>

    <div>
      <% if(typeof errorMessage !== 'undefined') { %>
      <p class="error"><%= errorMessage %></p>
      <% } %>
    </div>
  </div>
</div>
