<div class="hero">
  <div class="content">
    <img class="hero-logo" src="images/logo-crop.png" alt="logo" />
    <button class="btn-hero"><a href="/plant">See the Library</a></button>
  </div>
</div>
