<div class="content">
  <% if(userInSession) { %>
  <h2>Hello <%= userInSession.username %>!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/user-profile">Reload the page</a>
  </button>
  <button>
    <a href="/plant/create">Add a new plant</a>
  </button>

  <% if(typeof errorMessage !== 'undefined') { %>
  <p class="error"><%= errorMessage %></p>
  <% } %> <% } else { %>
  <p>Still no logged in user, sorry!</p>
  <% } %>
</div>
