<h2>All my plants</h2>

<div>
    <div>
        <h1>user Plant Name</h1>
        <h2>Plant Type Name</h2>
    </div>
    <div>
        <p>location</p>
        <p>last watering</p>
        <p>next watering</p>
        <p>comments</p>
    </div>
    <div>
        <button><a href="#">see more information</a></button>
        <button><a href="#">back to user profile</a></button>
    </div>
</div>

